.Addstore-input-label label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.upload-btn-store {
    background: #000000 !important;
    border: 1px solid #C4C4C4 !important;
    border-radius: 10px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #5E5E5E !important;
    text-transform: none !important;
    padding: 15px 13px !important;
}

.image-picker-store p{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #000000;
}
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
border-radius: 10px !important;
}