.Banner-image-overlay{
    transition-duration: .5s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    opacity: .5;
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;

}
.Dashboard-banner-image{

    height:55vh;
    background-size:100%; 
    position:relative;
    background-image:url('../Images/DashboardImage.jpg');
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;

}
.Dashboard-content-wrapper{
    padding-left:5rem;
}
.Dashboard-content-wrapper h2{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(33,33,33,var(--tw-text-opacity));
    font-weight: 700;
}
.Dashboard-content-wrapper p{
--tw-text-opacity: 1;
color: rgba(90,90,90,var(--tw-text-opacity));
font-size: 1rem;
}
.Dashboard-banner-image div:nth-child(2)  {
    display: flex;
    align-items: center;
    color: white;
    z-index: 9999;
}
.Dashboard-banner-image div:nth-child(2) h2{
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    text-align: center;
}