.dropbtn {
    background-color:transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 1s ease-in-out;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    transition: 1s ease-in-out;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 1s ease-in-out;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;    transition: 1s ease-in-out;}
  
  .dropdown:hover .dropbtn {background-color: #ffffff;    transition: 1s ease-in-out;}